sample_jaas.config
build/
dist/
ivy/
lib/
target/
.idea/
bin/
config/

# Eclipse specific files
.project
.classpath
.settings/

# VSCode specific files
settings.json

# Maven target directory (build output)
target/

# IDE-specific files
*.iml
*.log
*.swp
*.swo

# misc
*.class
